Package: unifiedviews-plugins
Version: [[debian-package-version]]
Section: java
Priority: extra
Architecture: all
Maintainer: peter.hanecak@eea.sk
Depends: curl, unifiedviews-webapp (>> 3.1), unifiedviews-webapp (<< 3.2)
Description: UnifiedViews Plugins (DPUs).
